@page "/CreateStudent"
@using BlazorCRUD.lib
@inject NavigationManager navigate
@inject HttpClient http

<h3>CreateStudent</h3>

<div class="container">
    <div class="row">
        <div class="col-6">
            <EditForm Model="student" OnValidSubmit="createStudent">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <label class="form-label">Name</label>
                    <InputText class="form-control" @bind-Value="student.Name"></InputText>
                    <ValidationMessage For="@(()=>student.Name)"/>
                </div>
                <div class="form-group">
                    <label class="form-label">Father Name</label>
                    <InputText class="form-control" @bind-Value="student.FatherName"></InputText>
                    <ValidationMessage For="@(()=>student.FatherName)" />
                </div>
                <div class="form-group">
                    <label class="form-label">Roll Number</label>
                    <InputNumber class="form-control" @bind-Value="student.RollNumber"></InputNumber>
                    <ValidationMessage For="@(()=>student.RollNumber)" />
                </div>
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <InputText class="form-control" @bind-Value="student.Email"></InputText>
                    <ValidationMessage For="@(()=>student.Email)" />
                </div>
                <div class="form-group">
                    <label class="form-label">Mobile Number</label>
                    <InputText class="form-control" @bind-Value="student.MobileNumber"></InputText>
                    <ValidationMessage For="@(()=>student.MobileNumber)" />
                </div>
                <div class="form-group">
                    <label class="form-label">Semester</label>
                    <InputText class="form-control" @bind-Value="student.Semester"></InputText>
                    <ValidationMessage For="@(()=>student.Semester)" />
                </div>
                <button type="submit" class="btn btn-primary mt-3">Save Student</button>
            </EditForm>
        </div>
    </div>
</div>


@code {
    Student student = new Student();

    private void createStudent()
    {
        http.PostAsJsonAsync("https://localhost:7094/api/Student",student);
        navigate.NavigateTo("/Students", true);
    }
}
